{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please sign in with an account that has access.</p>
    {% else %}
      <p>Please sign in to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-10 form-group">
          <label for="username">User name</label>
          <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="col-md-10 form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="submit" value="Sign In" class="btn btn-primary">
        </div>
    </div>
  </form>

  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">New around here? Sign up</a>
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a class="dropdown-item" href="{% url 'password_reset' %}">Forgot password?</a></p>
  
{% endblock %}

