/* CSS styles for the navbar */
.navbar {
    background-color: #333; /* Background color of the navbar */
    padding: 10px; /* Padding around the navbar */
    margin-left: 20px; /* Left margin of the navbar */
  }

  /* CSS styles for the navbar brand */
  .navbar-brand {
    color: #fff; /* Text color of the navbar brand */
    font-size: 24px; /* Font size of the navbar brand */
    font-weight: bold; /* Font weight of the navbar brand */
    text-decoration: none; /* Remove underline */
  }

  /* CSS styles for the navbar links */
  .navbar-nav {
    list-style: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }

  .navbar-nav li {
    display: inline; /* Display navbar items inline */
    margin-right: 10px; /* Add spacing between navbar items */
  }

  .navbar-nav li a {
    color: #fff; /* Text color of navbar links */
    text-decoration: none; /* Remove underline */
  }