{% extends "base_generic.html" %}

{% block content %}
<section class="login">
        <div class="card">
            <div class="card-body text-center">
                <h1>Sign In</h1>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <label for="username">User name</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-check d-flex justify-content-start">
                        <div class="form-group">
                            {{ form.remember_me }}
                            <label> Remember me</label>
                        </div>
                    </div>
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Sign in</button>

                    
                    <div class="center-container">
                        <hr class="my-4">
                        <p><strong>OR</strong></p>
                        
                        <a class="btn btn-primary btn-lg btn-block mb-2" href="#" type="submit">
                            <i class="fab fa-google me-2"></i> Sign in with Google
                        </a>
                        <a class="btn btn-primary btn-lg btn-block mb-2 facebook" href="#" type="submit">
                            <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                        </a>
                        <a class="btn btn-primary btn-lg btn-block mb-2 github" href="{% url 'social:begin' 'github' %}" type="submit">
                            <i class="fab fa-github me-2"></i> Sign in with GitHub
                        </a>
                    </div>
                    

                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please sign in with an account that has access.</p>
                    {% else %}
                    <p>Please sign in to see this page.</p>
                    {% endif %}
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'users-register' %}">Don't have an account yet? Sign up</a>
                    <p><a class="dropdown-item" href="{% url 'password-reset' %}">Forgot password?</a></p>
                </form>
            </div>
    </div>
</section>
{% endblock content %}
