{% extends "base_generic.html" %}


{% block content %}
<h1>SWAP YOUR OLD BOOKS FOR EXCITING NEW READS</h1>
<p style="font-family: Arial">
  Get points for every books you offer and swap
  And use points to get books you want!
  (website developed by our beloved 😘
  <em>Bree 🐕‍🦺</em>!)
  </head>
</p>
<!-- Stats section -->
<section id="stats" >
  <h2 class="section-heading" data-outlines="Stats">STATS</h2>
  <div class="all-items">
    <div class="item">
      <h2 class="number">{{ num_books }}</h2>
      <h3 class="stats-sub-heading"></h3>
      <p>Books Available</p>
    </div>
    <div class="item">
      <h2 class="number">{{ num_instances }}</h2>
      <h3 class="stats-sub-heading"></h3>
      <p>Copies</p>
    </div>
    <div class="item">
      <h2 class="number">{{ num_instances_available }}</h2>
      <h3 class="stats-sub-heading"></h3>
      <p>Copies available</p>
    </div>
  </div>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Genre:<strong> {{ num_genre }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
</section>
<!-- End stats section -->
<p>
  <a href="{% url 'login' %}" class="btn btn-dark">Get Started</a>
</p>
<p>
  You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
</p>
{% endblock %}