{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>
    A Book Swapping Site for Book Lovers!
    (website developed by our beloved 😘
    <em>Bree 🐕‍🦺</em>!)
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Genre:<strong> {{ num_genre }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}

<!-- Add additional CSS in static file -->
<!-- use the static template tag and specify the relative URL to the required file. -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />



<!-- add an image into the page -->
{% load static %}
<img
  src="{% static 'catalog/images/local_library_model_uml.png' %}"
  alt="UML diagram"
  style="width:555px;height:540px;" />
