<nav class="navbar">
    <div class="container">
        <!-- Bookswap on the Left -->
        <div class="header-text text-left">
            <h1>Bookswap</h1>
            <small>Swap Your Old Books For Exciting New Reads</small>
        </div>

        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
              <li class="active"><a href="{% url 'index' %}">Home</a></li>
              <li class="active"><a href="{% url 'books' %}">Books</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Browse <i>&#9662;</i> <!--small down arrow -->
                    
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Recommendations</a>
                    <a class="dropdown-item" href="#">Recently added</a>
                    <a class="dropdown-item" href="#">Most offered</a>
                </div>
               </li>
            </ul>


             <!-- Search Form -->
             <form method="get" class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'search-results' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
                <button class="btn" type="submit">
                    <img src="../../static/images/search.png">
                </button>
            </form>

             <!-- User Authentication and Cart -->
             <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">My Books</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Account Settings</a>
                        <a class="dropdown-item" href="#">Help</a>
                        <a class="dropdown-item" href="#">Sign out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Sign in</a>
                </li>
                {% endif %}

                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-books' %}">All Books</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">
                        <i class="fas fa-shopping-cart"></i> <span id="cart-total">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>